<!DOCTYPE html>
<html>
  <head>
    <title>QuizMaster</title>
    <%= csrf_meta_tags %>

    <%# TODO: include npm later %>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= yield :entry_point_css %>
  </head>

  <body>
    <%= yield %>
    <%= yield :entry_point_js %>
  </body>
</html>
